<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blogserver.dao.ClassifyMapper">
  <resultMap id="BaseResultMap" type="com.example.blogserver.model.entity.Classify">
    <id column="category_id" jdbcType="VARCHAR" property="categoryId" />
    <result column="category" jdbcType="VARCHAR" property="category" />
  </resultMap>
  <sql id="Base_Column_List">
    category_id, category
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bl_table_classify
    where category_id = #{categoryId,jdbcType=VARCHAR}
  </select>
  <select id="getAllList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from bl_table_classify
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bl_table_classify
    where category_id = #{categoryId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.blogserver.model.entity.Classify">
    insert into bl_table_classify (category_id, category)
    values (#{categoryId,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.blogserver.model.entity.Classify">
    insert into bl_table_classify
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="category != null">
        category,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.blogserver.model.entity.Classify">
    update bl_table_classify
    <set>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
    </set>
    where category_id = #{categoryId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.blogserver.model.entity.Classify">
    update bl_table_classify
    set category = #{category,jdbcType=VARCHAR}
    where category_id = #{categoryId,jdbcType=VARCHAR}
  </update>
</mapper>