<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blogserver.dao.TagMapper">
  <resultMap id="BaseResultMap" type="com.example.blogserver.model.entity.Tag">
    <id column="tag_id" jdbcType="VARCHAR" property="tagId" />
    <result column="tagname" jdbcType="VARCHAR" property="tagName" />
  </resultMap>
  <sql id="Base_Column_List">
    tag_id, tagname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bl_table_tag
    where tag_id = #{tagId,jdbcType=VARCHAR}
  </select>
  <select id="getAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from bl_table_tag
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bl_table_tag
    where tag_id = #{tagId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.blogserver.model.entity.Tag">
    insert into bl_table_tag (tag_id, tagname)
    values (#{tagId,jdbcType=VARCHAR}, #{tagname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.blogserver.model.entity.Tag">
    insert into bl_table_tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tagId != null">
        tag_id,
      </if>
      <if test="tagname != null">
        tagname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tagId != null">
        #{tagId,jdbcType=VARCHAR},
      </if>
      <if test="tagname != null">
        #{tagname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.blogserver.model.entity.Tag">
    update bl_table_tag
    <set>
      <if test="tagname != null">
        tagname = #{tagname,jdbcType=VARCHAR},
      </if>
    </set>
    where tag_id = #{tagId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.blogserver.model.entity.Tag">
    update bl_table_tag
    set tagname = #{tagname,jdbcType=VARCHAR}
    where tag_id = #{tagId,jdbcType=VARCHAR}
  </update>
</mapper>